################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProductExplorer/.vs
/ProductExplorer/ProductExplorer.EfModel/bin/Debug/netcoreapp2.1
/ProductExplorer/ProductExplorer.EfModel/obj
